workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "a0000001-0000-0000-0000-000000000001",
      "name": "Hourly Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, channel_id, channel_name FROM youtube_channels WHERE is_active = true ORDER BY id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [200, 0],
      "id": "a0000001-0000-0000-0000-000000000002",
      "name": "Get Active Channels",
      "credentials": {
        "postgres": {
          "id": "PeSW5dvcLscA2dF6",
          "name": "AI Video Publisher"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.channel_id }}"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [400, 0],
      "id": "a0000001-0000-0000-0000-000000000003",
      "name": "Fetch Channel RSS"
    },
    {
      "parameters": {
        "jsCode": "// Filter videos published in the last 24h and extract video IDs\nconst cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000);\nconst channelId = $('Get Active Channels').item.json.channel_id;\nconst channelName = $('Get Active Channels').item.json.channel_name;\n\nconst results = [];\nfor (const item of $input.all()) {\n  const pub = new Date(item.json.isoDate || item.json.pubDate || 0);\n  if (pub > cutoff) {\n    const url = item.json.link || '';\n    const videoId = url.split('v=')[1]?.split('&')[0] || '';\n    if (videoId) {\n      results.push({\n        json: {\n          video_id: videoId,\n          video_url: url,\n          video_title: item.json.title || '',\n          channel_id: channelId,\n          channel_name: channelName,\n          pub_date: item.json.isoDate || item.json.pubDate || new Date().toISOString()\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0],
      "id": "a0000001-0000-0000-0000-000000000004",
      "name": "Filter Recent Videos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT video_id FROM processed_videos WHERE video_id = $1",
        "options": {
          "queryReplacement": "={{ [$json.video_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [800, 0],
      "id": "a0000001-0000-0000-0000-000000000005",
      "name": "Check if Processed",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PeSW5dvcLscA2dF6",
          "name": "AI Video Publisher"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-not-processed",
              "leftValue": "={{ $json.video_id }}",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 0],
      "id": "a0000001-0000-0000-0000-000000000006",
      "name": "New Video?"
    },
    {
      "parameters": {
        "jsCode": "// Fetch YouTube transcript via InnerTube API (Android client)\nconst videoUrl = $json.video_url;\nconst videoId = videoUrl.split('v=')[1]?.split('&')[0];\nif (!videoId) throw new Error('Invalid YouTube URL: ' + videoUrl);\n\nconst playerRes = await fetch('https://www.youtube.com/youtubei/v1/player?prettyPrint=false', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'User-Agent': 'com.google.android.youtube/20.10.38 (Linux; U; Android 14)'\n  },\n  body: JSON.stringify({\n    context: { client: { clientName: 'ANDROID', clientVersion: '20.10.38' } },\n    videoId\n  })\n});\nconst playerData = await playerRes.json();\nconst tracks = playerData?.captions?.playerCaptionsTracklistRenderer?.captionTracks;\nif (!tracks?.length) throw new Error('No caption tracks for video: ' + videoId);\n\nconst track = tracks.find(t => t.languageCode === 'en') || tracks[0];\nconst captionRes = await fetch(track.baseUrl, {\n  headers: { 'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36' }\n});\nconst captionXml = await captionRes.text();\n\nconst transcript = [...captionXml.matchAll(/<s[^>]*>([^<]*)<\\/s>/g)]\n  .map(m => m[1])\n  .join('')\n  .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, \"'\").replace(/&quot;/g, '\"')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!transcript) throw new Error('Empty transcript for video: ' + videoId);\n\nreturn [{\n  json: {\n    ...$json,\n    transcript\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 256],
      "id": "a0000001-0000-0000-0000-000000000020",
      "name": "Fetch Transcript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [{\n      \"text\": \"You are analyzing a YouTube interview transcript for a LinkedIn content creator.\\n\\nRead this transcript carefully and extract the following. Return ONLY a valid JSON object:\\n{\\n  \\\"speaker_name\\\": \\\"Full name of the main guest or interviewee\\\",\\n  \\\"speaker_title\\\": \\\"Their role, company, or professional description\\\",\\n  \\\"top_quotes\\\": [\\\"verbatim quote 1\\\", \\\"quote 2\\\", \\\"quote 3\\\", \\\"quote 4\\\", \\\"quote 5\\\"],\\n  \\\"key_insights\\\": [\\\"insight 1\\\", \\\"insight 2\\\", \\\"insight 3\\\", \\\"insight 4\\\"],\\n  \\\"narrative_summary\\\": \\\"2-3 sentence arc of the full interview\\\",\\n  \\\"surprising_statement\\\": \\\"The single most unexpected or provocative thing said\\\"\\n}\\n\\nTRANSCRIPT:\\n{{ $json.transcript }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.3,\n    \"maxOutputTokens\": 2048,\n    \"responseMimeType\": \"application/json\"\n  }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 256],
      "id": "a0000001-0000-0000-0000-000000000007",
      "name": "Analyze Video with Gemini"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text;\n\nif (!text) {\n  const videoId = $('Filter Recent Videos').item.json.video_id;\n  throw new Error(`No Gemini response for video: ${videoId}`);\n}\n\nlet analysis;\ntry {\n  analysis = JSON.parse(text);\n} catch (e) {\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  analysis = JSON.parse(cleaned);\n}\n\nconst video = $('Filter Recent Videos').item.json;\n\nreturn [{\n  json: {\n    video_id: video.video_id,\n    video_url: video.video_url,\n    video_title: video.video_title,\n    channel_id: video.channel_id,\n    channel_name: video.channel_name,\n    pub_date: video.pub_date,\n    speaker_name: analysis.speaker_name || 'Unknown Speaker',\n    speaker_title: analysis.speaker_title || '',\n    top_quotes: analysis.top_quotes || [],\n    key_insights: analysis.key_insights || [],\n    narrative_summary: analysis.narrative_summary || '',\n    surprising_statement: analysis.surprising_statement || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 256],
      "id": "a0000001-0000-0000-0000-000000000008",
      "name": "Parse Gemini Analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing a high-engagement LinkedIn post for a content creator who reposts key insights from YouTube interviews.\n\n## VIDEO DATA\nChannel: {{ $json.channel_name }}\nVideo Title: {{ $json.video_title }}\nSpeaker: {{ $json.speaker_name }}{{ $json.speaker_title ? ', ' + $json.speaker_title : '' }}\n\nTop Quotes:\n{{ $json.top_quotes.map((q, i) => `${i+1}. \"${q}\"`).join('\\n') }}\n\nKey Insights:\n{{ $json.key_insights.map((k, i) => `${i+1}. ${k}`).join('\\n') }}\n\nNarrative Summary:\n{{ $json.narrative_summary }}\n\nMost Surprising Statement:\n{{ $json.surprising_statement }}\n\n## POST REQUIREMENTS\n- 150-200 words total\n- Open with the most compelling quote in full quotation marks\n- Immediately attribute it: \"— {{ $json.speaker_name }}\"\n- Follow with 2-3 punchy insight bullets\n- Close with one provocative question to drive comments\n- End with 3-5 relevant hashtags on a new line\n- Tone: Direct, opinionated, authoritative (think Scott Galloway)\n- NO \"I watched this video\" or \"Check this out\" openers\n- NO promotional language\n- Plain text only — no HTML tags\n\nReturn ONLY valid JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a JSON-only API that writes viral LinkedIn posts. Return only valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [400, 256],
      "id": "a0000001-0000-0000-0000-000000000009",
      "name": "Write LinkedIn Post"
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [384, 400],
      "id": "a0000001-0000-0000-0000-00000000000a",
      "name": "Gemini (Post Writer)",
      "credentials": {
        "googlePalmApi": {
          "id": "iEkQgj5QMurXzTlA",
          "name": "Google Gemini(PaLM) Bluestone Blog"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"post_text\": {\n      \"type\": \"string\",\n      \"description\": \"The full LinkedIn post in plain text, 150-200 words\"\n    },\n    \"post_title\": {\n      \"type\": \"string\",\n      \"description\": \"A short compelling title for the post, under 60 characters\"\n    },\n    \"hashtags\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"3-5 hashtags without the # symbol\"\n    }\n  },\n  \"required\": [\"post_text\", \"post_title\", \"hashtags\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [544, 400],
      "id": "a0000001-0000-0000-0000-00000000000b",
      "name": "Post Schema"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are an AI Prompting Specialist generating a featured image for a LinkedIn post about a YouTube interview.\n\n## Input\n**Speaker:** {{ $json.output.post_title }}\n**Post Preview:** {{ $json.output.post_text.substring(0, 300) }}\n\n## Visual Style\nChoose the best fit:\n- **Portrait + Quote Card:** Clean, modern design with a bold quote overlaid on an abstract gradient or geometric background. Best for provocative personal statements.\n- **Conceptual Chalk Drawing:** Dramatic blackboard-style illustration of the central idea. Best for data, predictions, or systemic concepts.\n\n## Instructions\nDraft a Nano Banana image generation prompt (under 400 words). Use:\n- Chalk style keywords: \"Textured chalk on blackboard\", \"vibrant pastel colors\", \"dramatic spotlight\", \"dusty texture\"\n- Quote card keywords: \"Vector graphic\", \"flat design\", \"clean bold typography\", \"deep navy and gold\"\n- Include the aspect ratio in parentheses at the end: (Aspect Ratio: 1:1)\n\nReturn ONLY valid JSON.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a JSON-only API that generates image prompts. Return only valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [640, 256],
      "id": "a0000001-0000-0000-0000-00000000000c",
      "name": "Generate Image Prompt"
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [624, 400],
      "id": "a0000001-0000-0000-0000-00000000000d",
      "name": "Gemini (Image Prompter)",
      "credentials": {
        "googlePalmApi": {
          "id": "iEkQgj5QMurXzTlA",
          "name": "Google Gemini(PaLM) Bluestone Blog"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nano_banana_prompt\": {\n      \"type\": \"string\",\n      \"description\": \"The raw plain-text image generation prompt for Nano Banana. Under 400 words. Include aspect ratio in parentheses at the end.\"\n    },\n    \"key_elements_html\": {\n      \"type\": \"string\",\n      \"description\": \"HTML ul list of the key visual elements and their symbolic meaning.\"\n    }\n  },\n  \"required\": [\"nano_banana_prompt\", \"key_elements_html\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [784, 400],
      "id": "a0000001-0000-0000-0000-00000000000e",
      "name": "Image Prompt Schema"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-image-preview"
        },
        "prompt": "={{ $json.output.nano_banana_prompt }}\n\n{{ $json.output.key_elements_html }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [0, 512],
      "id": "a0000001-0000-0000-0000-00000000000f",
      "name": "Generate Image",
      "credentials": {
        "googlePalmApi": {
          "id": "iEkQgj5QMurXzTlA",
          "name": "Google Gemini(PaLM) Bluestone Blog"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jwd.nyc/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=image.png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [200, 512],
      "id": "a0000001-0000-0000-0000-000000000010",
      "name": "Upload Image to jwd.nyc",
      "credentials": {
        "wordpressApi": {
          "id": "jwd-wordpress-cred",
          "name": "JWD Wordpress"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assemble blog post content for jwd.nyc from the Gemini analysis\nconst analysis = $('Parse Gemini Analysis').item.json;\nconst post = $('Write LinkedIn Post').item.json.output;\nconst video = $('Filter Recent Videos').item.json;\nconst wpImageId = $('Upload Image to jwd.nyc').item.json.id;\nconst imageUrl = $('Upload Image to jwd.nyc').item.json.guid?.raw || '';\n\n// Generate URL slug: speaker-name-video-id\nconst speakerSlug = analysis.speaker_name\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\nconst slug = `${speakerSlug}-${video.video_id}`;\nconst jwd_blog_url = `https://jwd.nyc/${slug}/`;\n\n// Build HTML content\nconst quotesHtml = analysis.top_quotes\n  .map(q => `<blockquote><p>${q}</p></blockquote>`)\n  .join('\\n');\n\nconst insightsHtml = analysis.key_insights\n  .map(k => `<li>${k}</li>`)\n  .join('\\n');\n\nconst hashtagsText = post.hashtags.map(h => `#${h}`).join(' ');\n\nconst content = `<p>${analysis.narrative_summary}</p>\n\n<h2>Key Quotes from ${analysis.speaker_name}</h2>\n${quotesHtml}\n\n<h2>Key Takeaways</h2>\n<ul>\n${insightsHtml}\n</ul>\n\n<h2>Most Surprising Statement</h2>\n<blockquote><p>${analysis.surprising_statement}</p></blockquote>\n\n<h2>Watch the Full Interview</h2>\n<p><a href=\"${video.video_url}\" target=\"_blank\" rel=\"noopener\">Watch on YouTube →</a></p>\n\n<hr>\n\n<p>${post.post_text.replace(/\\n/g, '</p>\\n<p>')}</p>\n\n<p><em>${hashtagsText}</em></p>`;\n\n// X post: opening quote + attribution + URL (fits in 280 chars)\nconst firstLine = post.post_text.split('\\n')[0] || post.post_text.substring(0, 220);\nconst xPost = `${firstLine}\\n\\n${video.video_url}`;\n\nreturn [{\n  json: {\n    video_id: video.video_id,\n    video_url: video.video_url,\n    video_title: video.video_title,\n    channel_id: video.channel_id,\n    speaker_name: analysis.speaker_name,\n    slug,\n    jwd_blog_url,\n    wp_image_id: wpImageId,\n    image_url: imageUrl,\n    title: post.post_title,\n    content,\n    post_text: post.post_text,\n    x_post: xPost,\n    hashtags: post.hashtags\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 512],
      "id": "a0000001-0000-0000-0000-000000000014",
      "name": "Assemble Blog Content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jwd.nyc/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "slug",
              "value": "={{ $json.slug }}"
            },
            {
              "name": "featured_media",
              "value": "={{ $json.wp_image_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [600, 512],
      "id": "a0000001-0000-0000-0000-000000000015",
      "name": "Publish to jwd.nyc",
      "credentials": {
        "wordpressApi": {
          "id": "jwd-wordpress-cred",
          "name": "JWD Wordpress"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "person": "={{ $env.LINKEDIN_PERSON_URN }}",
        "text": "={{ $('Assemble Blog Content').item.json.post_text }}",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "title": "={{ $('Assemble Blog Content').item.json.title }}",
          "originalUrl": "={{ $('Assemble Blog Content').item.json.jwd_blog_url }}",
          "thumbnailUrl": "={{ $('Assemble Blog Content').item.json.image_url }}"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [800, 512],
      "id": "a0000001-0000-0000-0000-000000000018",
      "name": "Post to LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "JDGw5vxcjZMIsLFi",
          "name": "LinkedIn Personal"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "text": "={{ $('Assemble Blog Content').item.json.x_post }}"
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1000, 512],
      "id": "a0000001-0000-0000-0000-000000000019",
      "name": "Post to X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "noWRcTuZK1uwib8F",
          "name": "X Personal"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "node": "={{ $env.FACEBOOK_PAGE_ID }}",
        "edge": "feed",
        "method": "POST",
        "options": {
          "additionalFields": {
            "body": [
              {
                "key": "message",
                "value": "={{ $('Assemble Blog Content').item.json.post_text }}"
              },
              {
                "key": "link",
                "value": "={{ $('Assemble Blog Content').item.json.jwd_blog_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1200, 512],
      "id": "a0000001-0000-0000-0000-00000000001a",
      "name": "Post to Facebook",
      "credentials": {
        "facebookGraphApi": {
          "id": "whd1GgFSCNoPbj4b",
          "name": "Facebook Personal"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "node": "={{ $env.INSTAGRAM_USER_ID }}",
        "edge": "media",
        "method": "POST",
        "options": {
          "additionalFields": {
            "body": [
              {
                "key": "image_url",
                "value": "={{ $('Assemble Blog Content').item.json.image_url }}"
              },
              {
                "key": "caption",
                "value": "={{ $('Assemble Blog Content').item.json.post_text }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1400, 512],
      "id": "a0000001-0000-0000-0000-00000000001b",
      "name": "Create Instagram Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "whd1GgFSCNoPbj4b",
          "name": "Facebook Personal"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "node": "={{ $env.INSTAGRAM_USER_ID }}",
        "edge": "media_publish",
        "method": "POST",
        "options": {
          "additionalFields": {
            "body": [
              {
                "key": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1600, 512],
      "id": "a0000001-0000-0000-0000-00000000001c",
      "name": "Publish to Instagram",
      "credentials": {
        "facebookGraphApi": {
          "id": "whd1GgFSCNoPbj4b",
          "name": "Facebook Personal"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processed_videos (\n  video_id, channel_id, video_title, video_url,\n  linkedin_urn, x_tweet_url, jwd_blog_url, facebook_post_id, instagram_post_id\n)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9)\nON CONFLICT (video_id) DO NOTHING\nRETURNING *",
        "options": {
          "queryReplacement": "={{ [\n  $('Filter Recent Videos').item.json.video_id,\n  $('Filter Recent Videos').item.json.channel_id,\n  $('Filter Recent Videos').item.json.video_title,\n  $('Filter Recent Videos').item.json.video_url,\n  $('Post to LinkedIn').item.json?.id || null,\n  $('Post to X').item.json?.data?.id ? 'https://x.com/i/web/status/' + $('Post to X').item.json.data.id : null,\n  $('Assemble Blog Content').item.json.jwd_blog_url,\n  $('Post to Facebook').item.json?.id || null,\n  $('Publish to Instagram').item.json?.id || null\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [400, 768],
      "id": "a0000001-0000-0000-0000-000000000012",
      "name": "Insert Processed Video",
      "credentials": {
        "postgres": {
          "id": "PeSW5dvcLscA2dF6",
          "name": "AI Video Publisher"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jeromekjerome@gmail.com",
        "subject": "=New Interview Post: {{ $('Assemble Blog Content').item.json.speaker_name }}",
        "emailType": "text",
        "message": "=YouTube: {{ $('Filter Recent Videos').item.json.video_url }}\n\njwd.nyc: {{ $('Assemble Blog Content').item.json.jwd_blog_url }}\n\nLinkedIn: {{ $('Post to LinkedIn').item.json?.id || 'error' }}\n\nX: {{ $('Post to X').item.json?.data?.id ? 'https://x.com/i/web/status/' + $('Post to X').item.json.data.id : 'error' }}\n\nFacebook: {{ $('Post to Facebook').item.json?.id || 'error' }}\n\nInstagram: {{ $('Publish to Instagram').item.json?.id || 'error' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [600, 768],
      "id": "a0000001-0000-0000-0000-000000000017",
      "name": "Send Notification",
      "credentials": {
        "gmailOAuth2": {
          "id": "3oVaq2GQraz8VDnA",
          "name": "JWD Gmail"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [800, 768],
      "id": "a0000001-0000-0000-0000-000000000013",
      "name": "Done"
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [{ "node": "Get Active Channels", "type": "main", "index": 0 }]
      ]
    },
    "Get Active Channels": {
      "main": [
        [{ "node": "Fetch Channel RSS", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Channel RSS": {
      "main": [
        [{ "node": "Filter Recent Videos", "type": "main", "index": 0 }]
      ]
    },
    "Filter Recent Videos": {
      "main": [
        [{ "node": "Check if Processed", "type": "main", "index": 0 }]
      ]
    },
    "Check if Processed": {
      "main": [
        [{ "node": "New Video?", "type": "main", "index": 0 }]
      ]
    },
    "New Video?": {
      "main": [
        [{ "node": "Fetch Transcript", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch Transcript": {
      "main": [
        [{ "node": "Analyze Video with Gemini", "type": "main", "index": 0 }]
      ]
    },
    "Analyze Video with Gemini": {
      "main": [
        [{ "node": "Parse Gemini Analysis", "type": "main", "index": 0 }]
      ]
    },
    "Parse Gemini Analysis": {
      "main": [
        [{ "node": "Write LinkedIn Post", "type": "main", "index": 0 }]
      ]
    },
    "Write LinkedIn Post": {
      "main": [
        [{ "node": "Generate Image Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [{ "node": "Generate Image", "type": "main", "index": 0 }]
      ]
    },
    "Generate Image": {
      "main": [
        [{ "node": "Upload Image to jwd.nyc", "type": "main", "index": 0 }]
      ]
    },
    "Upload Image to jwd.nyc": {
      "main": [
        [{ "node": "Assemble Blog Content", "type": "main", "index": 0 }]
      ]
    },
    "Assemble Blog Content": {
      "main": [
        [{ "node": "Publish to jwd.nyc", "type": "main", "index": 0 }]
      ]
    },
    "Publish to jwd.nyc": {
      "main": [
        [{ "node": "Post to LinkedIn", "type": "main", "index": 0 }],
        [{ "node": "Post to LinkedIn", "type": "main", "index": 0 }]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [{ "node": "Post to X", "type": "main", "index": 0 }],
        [{ "node": "Post to X", "type": "main", "index": 0 }]
      ]
    },
    "Post to X": {
      "main": [
        [{ "node": "Post to Facebook", "type": "main", "index": 0 }],
        [{ "node": "Post to Facebook", "type": "main", "index": 0 }]
      ]
    },
    "Post to Facebook": {
      "main": [
        [{ "node": "Create Instagram Container", "type": "main", "index": 0 }],
        [{ "node": "Create Instagram Container", "type": "main", "index": 0 }]
      ]
    },
    "Create Instagram Container": {
      "main": [
        [{ "node": "Publish to Instagram", "type": "main", "index": 0 }],
        [{ "node": "Insert Processed Video", "type": "main", "index": 0 }]
      ]
    },
    "Publish to Instagram": {
      "main": [
        [{ "node": "Insert Processed Video", "type": "main", "index": 0 }]
      ]
    },
    "Insert Processed Video": {
      "main": [
        [{ "node": "Send Notification", "type": "main", "index": 0 }]
      ]
    },
    "Send Notification": {
      "main": [
        [{ "node": "Done", "type": "main", "index": 0 }]
      ]
    },
    "Gemini (Post Writer)": {
      "ai_languageModel": [
        [{ "node": "Write LinkedIn Post", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Post Schema": {
      "ai_outputParser": [
        [{ "node": "Write LinkedIn Post", "type": "ai_outputParser", "index": 0 }]
      ]
    },
    "Gemini (Image Prompter)": {
      "ai_languageModel": [
        [{ "node": "Generate Image Prompt", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Image Prompt Schema": {
      "ai_outputParser": [
        [{ "node": "Generate Image Prompt", "type": "ai_outputParser", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8530e9f654e2e9c8e5a0b9dc5c0b38ddfebe33bf6d11c0791f9da2009d007149"
  }
}
